body{
    margin: 0;
    background-image: url("image/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.task-area{
    border: 1px solid lightgray;
}

.task-tabs{
    display: flex; /*가로 배치로 나열*/
    border-bottom: 1px solid lightgray;
    position: relative; /*'under-line' position의 기준*/
}

.task-tabs div{
    padding: 1em;
}

/*언더바, js에서 많이 쓰일 예정이라 id(#)로 사용*/
#under-line{
    height: 4px;
    background-color: lightcoral;
    position: absolute;
    width: 58px;
    left: 0px;
    top: 53px;
    padding: 0px;
    transition:0.5s /*언더바 부드럽게 움직이기*/
}

.task{
    display: flex; /*가로 배치로 나열*/
    justify-content: space-between; /*일정과 버튼 사이 간격 띄우기*/
    padding: 1em;
}

.task-done{
    text-decoration: line-through; /*task에 밑줄*/
}

.task-tabs div{
    cursor: pointer; /*마우스 오버 -> 커서를 pointer로 변경*/
}

.input-area{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*btn css*/
:root {
    --button-color: white;
    --button-bg-color: #FFCBCB;
    --button-hover-bg-color: #FFCBCB;
  }
  
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: #FFCBCB;
    color: rgb(86, 86, 86);
    
    margin: 0;
    padding: 0.2rem 1rem;
    
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    
    border: none;
    border-radius: 4px;
    
    display: inline-block;
    width: auto;
    
    box-shadow: 0 4px 6px -0.5px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    cursor: pointer;
    
    transition: 0.5s;
}